* {
	box-sizing: border-box;
}

h2 {
	margin: 35pt 0 15pt 0;
	font-weight: normal;
}

h3 {
	margin: 0;
	font-weight: normal;
}

.background-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 2px solid #fafafa;
	color: #333;
	box-shadow: 0 10px 0 0 #c3c3c3;
	border-radius: 5pt;
	margin: 15pt auto 40pt auto;
	font-family: "Calibri", sans-serif;
}

.root-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 60pt auto;
}

.profile-container {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1024px;
	min-height: 256px;
	margin: 20pt auto;
	box-shadow: 1px 3px 0px 0px #c3c3c3;
	overflow: hidden;
}

.profile-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10pt 0 0 10pt;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.avatar-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 256px;
	background: #FEFEFE;
	padding: 35pt 15pt;
	border-radius: 5pt 0 0 5pt;
	box-shadow: 1px 0 3px 0 #aa85b2;
}

.profile-avatar {
	width: 100%;
	max-width: 150px;
	min-height: 150px;
}

.about-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
}

.about-block {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background: #FEFEFE;
	padding: 1.5pt;
	margin: 25pt;
	border: 4px solid #ffffff;
	border-radius: 10pt;
	box-shadow: inset 0 0 3px 1px #c3c3c3, inset 2px 2px 0 0 #c3c3c3;
}

.about-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 10pt;
	width: 100%;
	height: 40px;
	margin: 0;
	font-weight: normal;
	color: #aa85b2;
	border-bottom: 1px solid #eee;
}

.about-table {
	border-collapse: collapse;
}

.about-table-property {
	color: #aa85b2;
}

.about-table-cell, .about-table-row {
	border: 1px solid #DDDDDD;
	padding: 5pt 10pt;
}

.first-row {
	border-top: 0;
}

.last-row {
	border-bottom: 0;
}

.border-styles-light {
	border: 1px solid #E2E2E2;
	border-radius: 5pt;
}